#Dependencias
node_modules/

package-lock.json

uploads/

dist/
build/

.cache/

#Logs
logs/
*.log

npm-debu.log*
yrn-debug.log*
yarn-error.log*
pnpm-debug.log*

#Temporales
tmp/
temp/
*.tmp

#IDEs
.vscode/
.idea/

#Sistemas operativos
.DS_Store
Thumbs.db

#Docker
docker-data/
*.pid

coverage

config/secrets.js